.text-brand {
    color: #111430;
}
.btn-brand{
    background-color: #111430;
    color: white;
    border: none;
    padding: 10px 50px;
}
.btn-brand:hover{
    border: none;
    background-color: #111430;
    color: white;
}